VITE_SERVER_URL="http://localhost:8000"
VITE_API_VERSION="/api/v1"

VITE_DURATION_FORMAT="m[m]s[s]"

VITE_API_DATE_FORMAT="YYYY-MM-DD"
VITE_API_TIME_FORMAT="HH:mm:ss"

VITE_PICKER_DATE_FORMAT="dd.MM.yyyy"
VITE_PICKER_TIME_FORMAT="HH:mm"
